@model Backlog_Checker.Models.Games.IndexViewModel;
@using LogicLayer;
@{
    ViewData["Title"] = "My Games";
}

<h1>My Games</h1>

<div class="get-games">

    <div class="block">
        <div class="filter-options">
            <button href="#" class="option button">Filter</button>
            <div class="filters">
                <div class="filter-option">Owned</div>
                <div class="filter-option">Completed</div>
                <div class="filter-option">Interested</div>
            </div>
            
            <button href="#" class="option button">Sort</button>
            <a class="option button nav-link" asp-area="" asp-controller="Games" asp-action="AddGame">Add</a>
        </div>
        <div id="games-list">
            <div class="items">
                <!--<span class="letter-indicator">A...</span>-->

                @{
                    foreach (Game item in Model.Games)
                    {

                        <div class="row" gameId="@item.Id">
                            <div class="col title">@item.Title</div>
                            <div class="col">
                                <label class="interestedLabel"><input type="checkbox">Interested</label>
                                <label class="completed"><input type="checkbox">Completed</label>
                                <label class="owned"><input type="checkbox">Owned</label>
                            </div>

                            <div class="col">
                                <a asp-controller="Games" asp-action="Game" asp-route-gameId="@item.Id"><i class="fas fa-chevron-right"></i></a>
                                <a onclick="AddGameToDelete(@item.Id, '@item.Title'); OpenPopup(); " href="#"><i class="fas fa-times danger"></i></a>
                            </div>
                        </div>
                    }
                }

                <!--<span class="letter-indicator">B...</span>-->
            </div>
        </div>
    </div>

</div>


<div class="popup" onclick="">
    <div class="overlay" onclick="ClosePopup()"></div>
    <div class="content">
        <p>Are you sure you want to delete <span id="game-to-delete"></span>?</p>
        <div class="options">
            <a href="#" onclick="DeleteGame( GetGameToDeleteId() );" class="option button danger">Yes</a>
            <a href="#" onclick="ClosePopup()" class="option button ">Cancel</a>
        </div>
    </div>
</div>

